// Specific CSS for your home-page
html {
  background-color: black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 10%;
  padding: 0;
  background-color: white;
}

/* Banner section with pseudo-random background */
.banner {
  height: 600px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%; /* Adjust side padding for responsive design */
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
  z-index: 1;
}

.banner div {
  position: relative;
  z-index: 2;
}

.banner h1, .banner h2, .banner h3 {
  margin: 0.5em 0; /* Equal spacing between headings */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.banner .btn {
  margin-top: 20px; /* Adjust as needed */
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
}

.banner .btn:hover {
  background-color: #0056b3;
}

/* Split section */
.split-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: white;
}

.split-section img {
  max-width: 80%; /* Ensure image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.split-section-text {
  max-width: calc(50% - 20px); /* Half of the container minus padding */
}

.split-section h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.split-section p {
  font-size: 1.2em;
}

/* Gallery section */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 10%;
  background-color: #fff; /* Change background color as needed */
}

.gallery-title {
  font-size: 2em;
  margin-bottom: 5%;
  text-align: center;
}

.gallery-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.gallery-item {
  width: 200px; /* Set a fixed width for each gallery item */
  margin: 10px;
  text-align: center;
}

.gallery-item img {
  max-width: 100%; /* Ensures the image does not exceed its natural size */
  height: auto; /* Allows the image to adjust its height proportionally */
  object-fit: cover; /* Ensures the image covers the entire container */
}

/* Footer section */
.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 5%;
  padding: 2% 0;
  bottom: 0;
  width: 100%;
}

/* Search section */
.search-section {
  background-color: #f0f0f0; /* Light gray background */
  padding: 50px 0;
  text-align: center;
}

.search-section h3 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333333; /* Dark gray text color */
}

.search-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 1em;
}

.search-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

.map-container {
  max-width: 800px;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#map {
  height: 400px;
  width: 100%;
}

/* QUESTIONS SECTION styles */

.questions-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.questions-left {
  flex: 0 0 48%; /* Adjust width to ensure proper split */
  min-width: 300px;
  padding: 5%;
}

.questions-right {
  flex: 0 0 48%; /* Adjust width to ensure proper split */
  min-width: 300px;
}

.accordion {
  margin: 20px 0;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.accordion-body {
  display: none;
  padding: 10px;
  font-size: 16px;
}

.accordion-body.active {
  display: block;
}



.best-studios-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
}

.studio-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.studio-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.studio-details {
  flex: 1;
  padding: 20px;
}

.studio-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.studio-details p {
  font-size: 1rem;
  line-height: 1.4;
  color: #666;
}
